/* Inspired by hover.css: https://ianlunn.github.io/Hover/ */

/* 2d transitions */

.grow-effect {
  transition: transform 0.3s;
}

.grow-effect:hover {
  transform: scale3d(1.1, 1.1, 1);
}

.shrink-effect {
  transition: transform 0.3s;
}

.shrink-effect:hover {
  transform: scale3d(0.9, 0.9, 1);
}

.pulse-effect:hover {
  animation: pulse-effect 1s linear infinite;
}

@keyframes pulse-effect {
  25% {
    transform: scale3d(1.1, 1.1, 1);
  }

  75% {
    transform: scale3d(0.9, 0.9, 1);
  }
}

.push-effect:hover {
  animation: push-effect 0.3s linear;
}

@keyframes push-effect {
  50% {
    transform: scale3d(0.8, 0.8, 1);
  }
}

.pop-effect:hover {
  animation: pop-effect 0.3s linear;
}

@keyframes pop-effect {
  50% {
    transform: scale3d(1.2, 1.2, 1);
  }
}

.bounce-effect {
  transition: transform 0.5s cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.bounce-effect:hover {
  transform: scale3d(1.2, 1.2, 1);
}

.grow-rotate-effect {
  transition: transform 0.3s;
}

.grow-rotate-effect:hover {
  transform: scale3d(1.1, 1.1, 1) rotate(4deg);
}

.float-effect {
  transition: transform 0.3s;
}

.float-effect:hover {
  transform: translate3d(0, -10px, 0);
}

.wobble-effect:hover {
  animation: wobble-effect 1s linear;
}

@keyframes wobble-effect {
  16.65% {
    transform: translate3d(8px, 0, 0);
  }
  33.3% {
    transform: translate3d(-6px, 0, 0);
  }
  49.95% {
    transform: translate3d(4px, 0, 0);
  }
  66.6% {
    transform: translate3d(-2px, 0, 0);
  }
  83.25% {
    transform: translate3d(1px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.forward-effect:hover {
  animation: forward-effect 0.3s linear;
}

@keyframes forward-effect {
  50% {
    transform: translate3d(10px, 0, 0);
  }
}

/* background transitions */

.fade-bg-effect {
  transition: color, background-color 0.3s;
}

.fade-bg-effect:hover {
  background-color: var(--white);
  color: var(--indigo);
}

.sweep-bg-effect {
  transition: color 0.3s;
}

.sweep-bg-effect:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--white);
  transform: scale3d(1, 0, 1);
  transform-origin: 50% 100%;
  transition: transform 0.3s ease-out;
}

.sweep-bg-effect:hover {
  color: var(--indigo);
}

.sweep-bg-effect:hover:before {
  transform: scale3d(1, 1, 1);
}

.bounce-bg-effect {
  transition: color 0.3s;
}

.bounce-bg-effect:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--white);
  transform: scale3d(1, 0, 1);
  transform-origin: 50% 100%;
  transition: transform 0.3s cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.bounce-bg-effect:hover {
  color: var(--indigo);
}

.bounce-bg-effect:hover:before {
  transform: scale3d(1, 1, 1);
}

.radial-bg-effect {
  overflow: hidden;
  transition: color 0.3s;
}

.radial-bg-effect:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  background: var(--white);
  transform: scale3d(0, 0, 0);
  transition: transform 0.3s ease-out;
}

.radial-bg-effect:hover {
  color: var(--indigo);
}

.radial-bg-effect:hover:before {
  transform: scale3d(2, 2, 2);
}

.rectangle-bg-effect {
  overflow: hidden;
  transition: color 0.3s;
}

.rectangle-bg-effect:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--white);
  transform: scale3d(0, 0, 0);
  transition: transform 0.3s ease-out;
}

.rectangle-bg-effect:hover {
  color: var(--indigo);
}

.rectangle-bg-effect:hover:before {
  transform: scale3d(2, 2, 2);
}

.shutter-bg-effect {
  transition: color 0.3s;
}

.shutter-bg-effect:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--white);
  transform: scaleX(0);
  transform-origin: 50%;
  transition: transform 0.3s ease-out;
}

.shutter-bg-effect:hover {
  color: var(--indigo);
}

.shutter-bg-effect:hover:before {
  transform: scaleX(1);
}
