/* Button */

.button {
  outline: 0;
  background: none;
  cursor: pointer;
  padding: 0.8rem 2rem;
  font-size: var(--font-xs);
  font-weight: var(--font-bolder);
  font-family: inherit;
  text-transform: capitalize;
  text-decoration: none;
  color: #212121;
  position: relative;
  z-index: 0;
  background-color: transparent;
  border-radius: var(--border-radius);
  border: var(--border-size) solid var(--light-grey);
}

.button.button-primary {
  border: none;
  background-color: var(--primary);
  color: var(--white);
}

.button.button-secondary {
  border: none;
  background-color: transparent;
  color: var(--darker-grey);
}

.button.button-red {
  border: none;
  background-color: var(--red);
  color: var(--white);
}

.button.button-outline.button-red {
  border: var(--border-size) solid var(--red);
  background-color: transparent;
  color: var(--red);
}

.button.button-link.button-red {
  background-color: transparent;
  color: var(--red);
}

.button.button-orange {
  border: none;
  background-color: var(--orange);
  color: var(--white);
}

.button.button-outline.button-orange {
  border: var(--border-size) solid var(--orange);
  background-color: transparent;
  color: var(--orange);
}

.button.button-link.button-orange {
  background-color: transparent;
  color: var(--orange);
}

.button.button-yellow {
  border: none;
  background-color: var(--yellow);
  color: var(--white);
}

.button.button-outline.button-yellow {
  border: var(--border-size) solid var(--yellow);
  background-color: transparent;
  color: var(--yellow);
}

.button.button-link.button-yellow {
  background-color: transparent;
  color: var(--yellow);
}

.button.button-lime {
  border: none;
  background-color: var(--lime);
  color: var(--white);
}

.button.button-outline.button-lime {
  border: var(--border-size) solid var(--lime);
  background-color: transparent;
  color: var(--lime);
}

.button.button-link.button-lime {
  background-color: transparent;
  color: var(--lime);
}

.button.button-green {
  border: none;
  background-color: var(--green);
  color: var(--white);
}

.button.button-outline.button-green {
  border: var(--border-size) solid var(--green);
  background-color: transparent;
  color: var(--green);
}

.button.button-link.button-green {
  background-color: transparent;
  color: var(--green);
}

.button.button-teal {
  border: none;
  background-color: var(--teal);
  color: var(--white);
}

.button.button-outline.button-teal {
  border: var(--border-size) solid var(--teal);
  background-color: transparent;
  color: var(--teal);
}

.button.button-link.button-teal {
  background-color: transparent;
  color: var(--teal);
}

.button.button-blue {
  border: none;
  background-color: var(--blue);
  color: var(--white);
}

.button.button-outline.button-blue {
  border: var(--border-size) solid var(--blue);
  background-color: transparent;
  color: var(--blue);
}

.button.button-link.button-blue {
  background-color: transparent;
  color: var(--blue);
}

.button.button-indigo {
  border: none;
  background-color: var(--indigo);
  color: var(--white);
}

.button.button-outline.button-indigo {
  border: var(--border-size) solid var(--indigo);
  background-color: transparent;
  color: var(--indigo);
}

.button.button-link.button-indigo {
  background-color: transparent;
  color: var(--indigo);
}

.button.button-purple {
  border: none;
  background-color: var(--purple);
  color: var(--white);
}

.button.button-outline.button-purple {
  border: var(--border-size) solid var(--purple);
  background-color: transparent;
  color: var(--purple);
}

.button.button-link.button-purple {
  background-color: transparent;
  color: var(--purple);
}

.button.button-pink {
  border: none;
  background-color: var(--pink);
  color: var(--white);
}

.button.button-outline.button-pink {
  border: var(--border-size) solid var(--pink);
  background-color: transparent;
  color: var(--pink);
}

.button.button-link.button-pink {
  background-color: transparent;
  color: var(--pink);
}

.button.button-brown {
  border: none;
  background-color: var(--brown);
  color: var(--white);
}

.button.button-outline.button-brown {
  border: var(--border-size) solid var(--brown);
  background-color: transparent;
  color: var(--brown);
}

.button.button-link.button-brown {
  background-color: transparent;
  color: var(--brown);
}

.button.button-black {
  border: none;
  background-color: var(--black);
  color: var(--white);
}

.button.button-outline.button-black {
  border: var(--border-size) solid var(--black);
  background-color: transparent;
  color: var(--black);
}

.button.button-link.button-black {
  background-color: transparent;
  color: var(--black);
}

.button.button-disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.button.button-grey {
  border: none;
  background-color: var(--light-grey);
}

.button.button-outline.button-grey {
  border: var(--border-size) solid var(--light-grey);
  background-color: transparent;
}

.button.button-link.button-grey {
  background-color: transparent;
  color: var(--grey);
}
