/* Form */

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
textarea,
select {
  outline: 0;
  padding: 1rem;
  background: var(--white);
  border: var(--border-size) solid var(--border-color);
  border-radius: var(--border-radius);
  font-size: inherit;
  width: 100%;
}

form label {
  display: block;
  margin-bottom: 1.5rem;
}
