/* Grid */

.row {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.col-1 {
  flex-basis: 8.33%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.col-2 {
  flex-basis: 16.66%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.col-3 {
  flex-basis: 25%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.col-4 {
  flex-basis: 33.33%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.col-5 {
  flex-basis: 41.66%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.col-6 {
  flex-basis: 50%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.col-7 {
  flex-basis: 58.33%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.col-8 {
  flex-basis: 66.66%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.col-9 {
  flex-basis: 75%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.col-10 {
  flex-basis: 83.33%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.col-11 {
  flex-basis: 91.66%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.col-12 {
  flex-basis: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
