/* utilities */

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 1.5rem !important;
}

.m-1-t {
  margin-top: 1.5rem !important;
}

.m-1-b {
  margin-bottom: 1.5rem !important;
}

.m-1-l {
  margin-left: 1.5rem !important;
}

.m-1-r {
  margin-right: 1.5rem !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 1.5rem !important;
}

.p-1-t {
  padding-top: 1.5rem !important;
}

.p-1-b {
  padding-bottom: 1.5rem !important;
}

.p-1-l {
  padding-left: 1.5rem !important;
}

.p-1-r {
  padding-right: 1.5rem !important;
}

.container {
  max-width: 1300px;
  margin: 1.5rem auto !important;
  padding: 1.5rem !important;
}

/* Color & Background */

.red {
  background-color: var(--red) !important;
}

.orange {
  background-color: var(--orange) !important;
}

.yellow {
  background-color: var(--yellow) !important;
}

.lime {
  background-color: var(--lime) !important;
}

.green {
  background-color: var(--green) !important;
}

.teal {
  background-color: var(--teal) !important;
}

.blue {
  background-color: var(--blue) !important;
}

.indigo {
  background-color: var(--indigo) !important;
}

.purple {
  background-color: var(--purple) !important;
}

.pink {
  background-color: var(--pink) !important;
}

.brown {
  background-color: var(--brown) !important;
}

.grey {
  background-color: var(--grey) !important;
}

.black {
  background-color: var(--black) !important;
}

.white {
  background-color: var(--white) !important;
}

.red-text {
  color: var(--red) !important;
}

.orange-text {
  color: var(--orange) !important;
}

.yellow-text {
  color: var(--yellow) !important;
}

.lime-text {
  color: var(--lime) !important;
}

.green-text {
  color: var(--green) !important;
}

.teal-text {
  color: var(--teal) !important;
}

.blue-text {
  color: var(--blue) !important;
}

.indigo-text {
  color: var(--indigo) !important;
}

.purple-text {
  color: var(--purple) !important;
}

.pink-text {
  color: var(--pink) !important;
}

.brown-text {
  color: var(--brown) !important;
}

.grey-text {
  color: var(--grey) !important;
}

.black-text {
  color: var(--black) !important;
}

.white-text {
  color: var(--white) !important;
}

.valign-center {
  display: flex !important;
  align-items: center !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.hide,
.hidden {
  display: none !important;
}

.inline {
  display: inline !important;
}

.inline-block {
  display: inline-block !important;
}

.block {
  display: block !important;
}

.flex {
  display: flex !important;
}

.flex-1 {
  flex: 1 !important;
}

.flex-2 {
  flex: 2 !important;
}

.flex-3 {
  flex: 3 !important;
}

.flex-4 {
  flex: 4 !important;
}

.flex-5 {
  flex: 5 !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.full-width {
  width: 100% !important;
}

.full-height {
  height: 100% !important;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.box-shadow {
  box-shadow: 0rem 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2) !important;
}

.bordered {
  border: var(--border-size) solid var(--border-color) !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.divider {
  border-top: var(--border-size) dashed var(--light-indigo);
  position: relative;
}

.divider span {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  padding: 1.5rem;
  background: #f7f7ff;
  color: var(--indigo);
  font-size: var(--font-l);
}

.divider.divider-left span {
  transform: translate(0, -50%);
  left: 0;
  padding-left: 0;
}

.divider.divider-right span {
  transform: translate(0, -50%);
  right: 0;
  left: unset;
  padding-right: 0;
}

.overlay {
  display: none;
  position: absolute;
  background: var(--black);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 1;
  cursor: pointer;
}
