/* Variables */

:root {
  --red: #f44336;
  --light-red: #ef9a9a;
  --lighter-red: #ffebee;

  --orange: #ff9800;
  --light-orange: #ffcc80;
  --lighter-orange: #fff3e0;

  --yellow: #ffd600;
  --light-yellow: #fff176;
  --lighter-yellow: #fffde7;

  --lime: #cddc39;
  --light-lime: #e6ee9c;
  --lighter-lime: #f9fbe7;

  --green: #4caf50;
  --light-green: #a5d6a7;
  --lighter-green: #e8f5e9;

  --teal: #009688;
  --light-teal: #80cbc4;
  --lighter-teal: #e0f2f1;

  --blue: #2196f3;
  --light-blue: #90caf9;
  --lighter-blue: #e3f2fd;

  --indigo: #3f51b5;
  --light-indigo: #9fa8da;
  --lighter-indigo: #e8eaf6;

  --purple: #9c27b0;
  --light-purple: #ce93d8;
  --lighter-purple: #f3e5f5;

  --pink: #e91e63;
  --light-pink: #f48fb1;
  --lighter-pink: #fce4ec;

  --brown: #795548;
  --light-brown: #bcaaa4;
  --lighter-brown: #efebe9;

  --darker-grey: #424242;
  --dark-grey: #616161;
  --grey: #9e9e9e;
  --light-grey: #eeeeee;
  --lighter-grey: #fafafa;

  --black: #000000;
  --white: #ffffff;

  --primary: var(--indigo);

  --info: var(--blue);
  --info-bg: var(--lighter-blue);
  --info-border: var(--light-blue);

  --warning: var(--yellow);
  --warning-bg: var(--lighter-yellow);
  --warning-border: var(--light-yellow);

  --success: var(--green);
  --success-bg: var(--lighter-green);
  --success-border: var(--light-green);

  --error: var(--red);
  --error-bg: var(--lighter-red);
  --error-border: var(--light-red);

  --border-color: #dddddd;
  --border-radius: 5px;
  --border-size: 1px;

  --font-light: 100;
  --font-regular: 400;
  --font-bold: 500;
  --font-bolder: 700;

  --font-xs: 1.2rem;
  --font-sm: 1.4rem;
  --font-md: 1.6rem;
  --font-l: 2rem;
  --font-xl: 2.4rem;
  --font-xxl: 3rem;
  --font-xxxl: 3.6rem;

  font-size: 10px;
  color: #212121;
}
